<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Генератор паролей</title>
</head>
<body class="flex justify-center h-screen">
<div class="bg-slate-300 relative border-black border-2 rounded-lg p-16 flex flex-col min-w-fit min-h-fit self-center">
    <h1 class="absolute top-2 left-4 text-xl">Генератор паролей</h1>
    <form class="form-check" action="{% url 'password' %}">
        <select name='length'>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12" selected="selected">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
        </select>
        <br>
        <input class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="checkbox" name="uppercase"> Верхний регистр
        <br>
        <input class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="checkbox" name="numbers"> Цифры
        <br>
        <input class="form-check-input appearance-none h-4 w-4 border border-gray-300 rounded-sm bg-white checked:bg-blue-600 checked:border-blue-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer" type="checkbox" name="special"> Специальные символы
        <br>
        <input class="border-2 border-black rounded-md p-1 absolute bottom-3 right-3 cursor-pointer" type="submit" value="Пароль!">
    </form>
</div>
</body>
</html>