<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Генератор паролей</title>
</head>
<body>
<div class="card" style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%)">
    <h1 class="card-header">Генератор паролей</h1>
    <form class="card-body" action="{% url 'password' %}">
        <input type="range" min="6" max="14" name="length" step="1" class="custom-range" id="range"><output id="rangeValue"></output>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch1" name="uppercase">
            <label class="custom-control-label" for="customSwitch1">Верхний регистр</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch2" name="numbers">
            <label class="custom-control-label" for="customSwitch2">Цифры</label>
        </div>
        <div class="custom-control custom-switch">
            <input type="checkbox" class="custom-control-input" id="customSwitch3" name="special">
            <label class="custom-control-label" for="customSwitch3">Специальные символы</label>
        </div>
        <input class="btn btn-outline-info btn-sm" style="position:absolute; bottom: 1.25rem; right: 1.25rem" type="submit" value="Пароль!">
    </form>
</div>










<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.6/umd/popper.min.js" integrity="sha512-6UofPqm0QupIL0kzS/UIzekR73/luZdC6i/kXDbWnLOJoqwklBK6519iUnShaYceJ0y4FaiPtX/hRnV/X/xlUQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script>
const rangeValue = document.getElementById('rangeValue')
const range = document.getElementById('range')

rangeValue.innerText = "Длина " + range.value + ' символов'

range.addEventListener('input', () => {
    rangeValue.value = "Длина " + range.value + ' символов'
})
</script>
</body>
</html>